streamlit
streamlit-chat
langchain
openai
python-dotenv
transformers
uuid
faiss-cpu
langchain-groq
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
unstructured
python-docx
